* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.headTitle {
    margin: 10px 1vw;
    text-align: center;
}

.box {
    position: relative;
    padding: 5px 5px;
    border: 1px solid;
    margin: 10px 1vw;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hidden {
    display: none;
}

button {
    padding: 3px 10px;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}
.number {
    color: darkorange;
}
.boolean {
    color: blue;
}
.null {
    color: magenta;
}
.key {
    color: red;
}

input {
    display: block;
    width: 100%;
}

thead > tr > td {
    border: 1px solid black;
}

tbody > tr > td {
    border: 1px solid #cccccc;
}

td {
    font-size: 12px;
}

@media (max-width: 980px){
    td, button {
        font-size: 8px;
    }

    tbody > tr > td {
        max-width: 14vw;
        word-break: break-all;
    }
}

@media (max-width: 430px){
    td, button {
        font-size: 6px;
    }

    tbody > tr > td {
        max-width: 10vw;
    }
}


